<!-- index.html -->

{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>HOME</h1>

        <form method="post">
            {% csrf_token %}
            <div>
                {{ form }}
            </div>
            <div>
                <button type="submit">Lekh</button>
            </div>
        </form>

        <div>
            <h2>Content</h2>
            {% if lekhs %}
                {% for lekh in lekhs %}
                    <div class="lekh">
                        <div class="profile">{{ lekh.profile }}</div>
                        <div class="body">{{ lekh.body }}</div>
                        <div class="date">{{ lekh.date_created }}</div>
                        <div class="likes">{{ lekh.no_of_likes }} Likes</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
