{% load static %}

<h1>HOME</h1>

{% block content %}
<div>
    <a href={% url 'logout' %}>logout</a>
<div>
    {% if form %}
    <form method="post">
        {% csrf_token %}
        <div>
        {{form}}
        </div>
        <div>
            <button type="submit">Lekh</button>
        </div>
    </div>
    {% endif %}
</div>

<div>
    content
    {% if lekhs %}
        {% for lekh in lekhs %}
            <div>
                <div>
                    {{lekh.profile}}
                </div>
                <div>
                    {{lekh.body}}
                </div>
                <div>
                    {{lekh.date_created}}
                </dvi>
                <div>
                    {{lekh.no_of_likes}}
                </div>

            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
{% block script %}
<script>
console.log("ok");
</script>
{% endblock %}
