<!-- index.html -->

{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <div class="container center">
        <div>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.body }}
                </div>
                <div>
                    <button type="submit">Post Lekh</button>
                </div>
            </form>
        </div>

        <div>
            {% if lekhs %}
                {% for lekh in lekhs %}
                    <div class="lekh" data-lekh-id="{{ lekh.id }}">
                        <div class="profile"><a  href="{% url 'profile' lekh.profile.id %}">{{ lekh.profile }}</a></div>
                        <div class="body">{{ lekh.body }}</div>
                        <div class="date">{{ lekh.date_created }}</div>
                        <div class="likes">
                            <span class="no_of_likes">{{ lekh.no_of_likes }} Likes</span>
                            <button class="like-button">{% if request.user.profile_set.exists and request.user.profile_set.first in lekh.likes.all %}Unlike{% else %}Like{% endif %}</button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

