<!-- index.html -->

{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div>
    <div>
        
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.body }}
            </div>
            <div>
                <button type="submit">Post Lekh</button>
            </div>
        </form>

        <div>
            {% if lekhs %}
                {% for lekh in lekhs %}
                    <div class="lekh">
                        <div class="profile">{{ lekh.profile }}</div>
                        <div class="body">{{ lekh.body }}</div>
                        <div class="date">{{ lekh.date_created }}</div>
                        <div class="likes">
                            <span>{{ lekh.no_of_likes }} Likes</span>
                            <button class="like-button">Like</button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
